################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.user
1-user-setup.sql
unpublished.config
/.svn
/.vs
/obj
/packages
/Web.config
